<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>U.P. SAINIK SCHOOL OBA - Add Homage</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="Author" content="Rishabh Budhiraja - github.com/rbrishabh"/>

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->


        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- REVOLUTION SLIDER -->
        <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/thematics-education.css" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />


    </head>

    <body class="smoothscroll enable-animation" style="background-color: #ededed;">




        <!-- wrapper -->
        <div id="wrapper">



            <div id="header" class="sticky clearfix">


                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Logo -->
                        <a class="logo pull-left" href="/">
                            <img src="assets/images/logo-sm.png" alt="" />
                        </a>

                        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                            <nav class="nav-main">


                                <ul id="topMain" class="nav nav-pills nav-main">

                                    <li>

                                        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i
                                                class="glyphicon glyphicon-user"> </i> Settings</a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a tabindex="-1" href="/editProfile"><i class="fa fa-history"></i> EDIT PROFILE</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="/logout"><i class="glyphicon glyphicon-off"></i> LOGOUT</a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </nav>
                        </div>




                    </div>
                </header>
                <!-- /Top Nav -->

            </div>



            <section>
                <div class="container">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="box-static box-border-top padding-30 card">

                                    <div class="row">

                                        <!-- RIGHT -->
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">


                                            <div class="box-title margin-bottom-30">
                                                <h2 class="size-20 pull-left">Add Homage</h2>
                                                <!--
<label class="switch switch-primary switch-round pull-right">
<input type="checkbox" >
<span class="switch-label" data-on="MY" data-off="ALL"></span>
</label>
-->

                                                <div class="clearfix"></div>
                                            </div>



                                            <form class="nomargin" method="post" enctype="multipart/form-data" action="/addHomage" autocomplete="off">
                                                <div class="row">
                                                    <div class="col-md-6">


                                                        <div class="clearfix">
                                                            <div class="form-group">
                                                                <input type="text" name="homageName" class="form-control" placeholder="Name" required="">
                                                            </div>


                                                            <div class="form-group">
                                                                <input type="text" name="homageSchoolNo" class="form-control" placeholder="School Number" required="">
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="text"  name="homageDate" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false" data-to="+0d"  placeholder=" &nbsp; Died on (Date)">

                                                            </div>

                                                            <div class="form-group">
                                                                <textarea rows="6" name="homageNotes" class="form-control word-count" data-maxlength="200" data-info="textarea-words-info" placeholder="Notes"></textarea>
                                                            </div>



                                                        </div>

                                                    </div>






                                                    <div class="col-md-6">

                                                        <div class="clearfix">

                                                            <div class="fancy-file-upload" style="margin-bottom: 15px;">
                                                                <i class="fa fa-image"></i>
                                                                <input type="file" class="form-control" name="homageImage" onchange="jQuery(this).next('input').val(this.value);" />
                                                                <input type="text" class="form-control" name="imageName" placeholder="Upload Picture" readonly="" style="background-color: #fff;" />

                                                            </div>

                                                           

                                                           


                                                            

                                                            <div class="form-group">
                                                                <select name="homageBackground" class="form-control"  onchange="rank()" id="rankval">
                                                                    <option value="">Background</option>
                                                                    <option value="Civil">Civil</option>
                                                                    <option value="Military">Military</option>
                                                                </select>
                                                            </div>

                                                            <div class="form-group" id="rankbox" style="display: none;">
                                                                <input type="text" name="homageRankAndDec" class="form-control" placeholder="Rank & Decoration">
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>





                                                <div class="row">

                                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                                        <!-- Inform Tip -->                                        
                                                        <div class="form-tip pt-20">

                                                        </div>

                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                                                        <button type="submit" class="btn btn-primary"> &nbsp; SAVE &nbsp; </button>

                                                    </div>

                                                </div>

                                            </form>




                                        </div>



                                        <!-- LEFT -->
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-pull-9 col-md-pull-9 col-sm-pull-9">

                                            <div class="side-nav margin-bottom-60">

                                            <div class="side-nav-head">
                                                <button class="fa fa-bars"></button>
                                                <h4>MENU</h4>
                                            </div>

                                                <ul class="list-group list-group-bordered list-group-noicon uppercase">
                                                    <li class="list-group-item">
                                                        <a class="dropdown-toggle" href="#">EVENTS</a>
                                                        <ul>
                                                            <li >
                                                                <a href="allevents"><span class="size-11 text-muted pull-right"> </span> All Events
                                                                </a>
                                                            </li>
                                                            <li >
                                                                <a href="addevent"><span class="size-11 text-muted pull-right"> </span> Add Events
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item active">
                                                        <a class="dropdown-toggle" href="#">HOMAGE</a>
                                                        <ul>
                                                            <li  >
                                                                <a href="allhomage"><span class="size-11 text-muted pull-right"> </span> All Homages
                                                                </a>
                                                            </li>
                                                            <li class="active">
                                                                <a href="addhomage"><span class="size-11 text-muted pull-right"> </span> Add Homage
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">MARTYRS</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allmartyrs"><span class="size-11 text-muted pull-right"> </span> All Martyrs
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="addmartyr"><span class="size-11 text-muted pull-right"> </span> Add Martyr
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">ACHIEVERS</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allachievers"><span class="size-11 text-muted pull-right"> </span> All Achievers
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="addachiever"><span class="size-11 text-muted pull-right"> </span> Add Achiever
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">OFFICE BEARERS</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allbearers"><span class="size-11 text-muted pull-right"> </span> All Office Bearers
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="addofficebearer"><span class="size-11 text-muted pull-right"> </span> Add Office Bearer
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">BIRTHDAY</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allbirthdays"><span class="size-11 text-muted pull-right"> </span> All Birthdays
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">MEDIA COVERAGE</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allCoverage"><span class="size-11 text-muted pull-right"> </span> All Media Coverages
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="addCoverage"><span class="size-11 text-muted pull-right"> </span> Add Media Coverage
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">DONOR GALLERY</a>
                                                        <ul>
                                                            <li>
                                                                <a href="alldonors"><span class="size-11 text-muted pull-right"> </span> All Donors
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="donate"><span class="size-11 text-muted pull-right"> </span> Donate Now
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-group-item ">
                                                        <a class="dropdown-toggle" href="#">IMAGES &amp; VIDEO GALLERY</a>
                                                        <ul>
                                                            <li>
                                                                <a href="allGalleries"><span class="size-11 text-muted pull-right"> </span> All Galleries
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="addGalleries"><span class="size-11 text-muted pull-right"> </span> Add Gallery
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>


                                            </div>
                                        <!-- /Menu End -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <!-- FOOTER -->
            <footer id="footer">


                <div class="copyright">
                    <div class="container">
                        <ul class="pull-right nomargin list-inline mobile-block">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li>&bull;</li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                        &copy; All Rights Reserved, UP Sainik School, OBA
                    </div>
                </div>

            </footer>
            <!-- /FOOTER -->

        </div>
        <!-- /wrapper -->


        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="inner">
                <span class="loader"></span>
            </div>
        </div><!-- /PRELOADER -->
        <script>


            function rank(){
                var rankvalue = document.getElementById("rankval").value;

                if(rankvalue=="Military"){
                    document.getElementById("rankbox").style.display = "block";
                }
                else {
                    document.getElementById("rankbox").style.display = "none";
                }
            };
        </script>

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
        <script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

        <script type="text/javascript" src="assets/js/scripts.js"></script>
        <!-- REVOLUTION SLIDER -->
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="assets/js/view/demo.revolution_slider.js"></script>

    </body>
</html>